#upper_right_box{
    background-color: lightgrey;
}
#upper_left_box{
    background-color: khaki;
}
#left_box{
    background-color: khaki;

}
#left_right_box{
    background-color: orange;

}
#center_box{
    background-color: lightgrey;
}
#right_box{
    background-color: khaki;
}

textarea{
    width: 100%;
}

.weapon_bonus{
    width: 25%;
}

.weapon_name{
    width: 40%;
}

.weapon_damage{
    width: 35%;
}