#upper_right_box{
    background-color: lightgrey;
    margin-left: 34%;
}
#upper_left_box{
    background-color: khaki;
    float:left;
}
#left_box{
    background-color: khaki;
    width: 33%;
    float: left;
}
#left_right_box{
    background-color: orange;
    float: right;
}
#center_box{
    margin-right: 33%;
    margin-left: 33%;
    background-color: lightgrey;
}
#right_box{
    width: 33%;
    background-color: khaki;
    float: right;
}

textarea{
    width: 100%;
}

.weapon_bonus{
    width: 25%;
}

.weapon_name{
    width: 40%;
}

.weapon_damage{
    width: 35%;
}